certifi==2024.6.2
configparser==7.0.0
crc==7.0.0
influxdb-client==1.43.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
reactivex==4.0.4
six==1.16.0
tornado==6.4
typing_extensions==4.12.2
urllib3==2.2.1
wcpp @ git+https://github.com/wasa-rockoon/WCPP.git@1-python-elif-error
